BatteryBomb/UIElementsSchema/UnityEditor.U2D.Tooling.Analyzer.UIElement.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="UnityEditor.U2D.Tooling.Analyzer.UIElement" elementFormDefault="qualified" targetNamespace="UnityEditor.U2D.Tooling.Analyzer.UIElement" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="UnityEngine.UIElements.xsd" namespace="UnityEngine.UIElements" />
  <xs:complexType name="CellLabelWithIconType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="UnityEngine.UIElements" base="q1:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CellLabelWithIcon" xmlns:q2="UnityEngine.UIElements" substitutionGroup="q2:VisualElement" type="tns:CellLabelWithIconType" />
  <xs:complexType name="SpriteAtlasReportTableType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="UnityEngine.UIElements" base="q3:MultiColumnListViewType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SpriteAtlasReportTable" xmlns:q4="UnityEngine.UIElements" substitutionGroup="q4:MultiColumnListView" type="tns:SpriteAtlasReportTableType" />
</xs:schema>